<!-- https://strictlycocktail.herokuapp.com/ -->

<div class="banner">
  <h1>strictly cocktails!</h1>
  <p><em><h5>sip me! sip me not!</h5></em></p>
</div>


<% @cocktails.each do |cocktail| %>
  <p><h2><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h2> </p>
<% end %>

<%= link_to 'Add cocktail', new_cocktail_path %>
